@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RedHat";
  src: url("/font/RedHat.ttf");
}
@layer base {

  h1{
    font-size: 64px;
    font-weight:bold;
  }
}