@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RedHat";
  src: url("/font/RedHat.ttf");
}
@layer base {

  h1{
    font-size: 64px;
    line-height:64px;
    font-weight:bold;
  }

  h2{
    font-size: 40px;
    line-height: 44px;
    font-weight:bold;
  }

  .widetext{
    font-size:16px;
    line-height:26px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

  p{
    font-size:18px;
    line-height:26px;
  }
  
}