@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RedHat";
  src: url("/font/RedHat.ttf");
}
@layer base {

  .extra1{
    font-size: 64px;
    line-height:64px;
    font-weight:bold;
  }

  .mainheading{
    font-size: 40px;
    line-height: 44px;
    font-weight:900;
  }

  .subheading{
    font-size:16px;
    line-height:26px;
    font-weight:500;
    font-style: normal;
  }

  .extra3{
    font-size:16px;
    line-height:26px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

  .extra4{
    font-size:18px;
    line-height:26px;
  }


  
}